@import url(/styles/apresentacao.css);
@import url(/styles/header.css);

:root {
    --cor-principal: #845EC2;
    --cor-secundaria: #d11097;
    --cor-rosa: #FF6F91;
    --cor-laranja: #f76733;
    --cor-fundo: #812785;
    --cor-escrita: #7c255b;
    --cor-botao: #03c0a1;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}