@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);
@import url(/styles/flashcard.css);


:root {
    --cor-principal: #110483;
    --cor-secundaria: #6d82fb;
    --cor-rosa: #876fff;
    --cor-roxa: #710bff;
    --cor-fundo: #10044a;
    --cor-escrita: #0f0c5c;
    --cor-botao: #7b0ae6;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}
